body{
    font-family: Verdana;
    font-size: 1.2em;
    background-color: hsl(0, 0%, 95%);
}
h1{
    color: rgb(8, 114, 201);
}
form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(65, 65, 65, 0.247);
}
#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.808);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.2em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    color: white;
    background-color: hsl(0, 97%, 61%);
    font-size: 1.3em;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 72%, 53%);
}
#result{
    font-size: 1.2em;
    font-weight: bold;
    color: #35ff46;
}