
body{
    background-color: rgb(197, 255, 90);
}
#heading{
    font-family: Arial, sans-serif;
    font-size: 4.5rem;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-wrap:pretty;
    text-shadow: 5cap;
}
img{
    height: 500px;
    width: 500px;
}
.slider{
    position: relative;
    width: 100%;
    max-width: 500px;
    margin:auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    border-radius: 50px;
}
.slider img{
    display: none;
    
}
img.displaySlide{
    display: block;
    align-items: center;
    justify-content: center;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: -5}
    to {opacity: 1}  
}
